@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.pt-lks.com/wp-content/uploads/2022/07/FontPage-clear-1.jpg" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="...">
            <div class="carousel-caption d-none d-md-block position-absolute top-50 start-50 translate-middle">
                <h4 class="fw-medium">Welcome To</h4>
                <h1 class="fw-bold" style="color: #FB9E3A">Lancang Kuning Sukses</h1>
                <p class="fw-light">Your Trusted EPC Partner</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://scontent.fbth3-1.fna.fbcdn.net/v/t1.6435-9/119032528_3205594689563550_8882514345650748786_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=e1zDWvHp8IoQ7kNvwE0E1pn&_nc_oc=Adk5Hr6aY_ncQIKZxXD5IWK1QCW8kX-z40t1pGdPghr-8lBSvEEqfLwzPGwDAJxa6RQ&_nc_zt=23&_nc_ht=scontent.fbth3-1.fna&_nc_gid=KHTCKhIKFU6ks3bTAxHUpQ&oh=00_AfLVexKiS638U3KHYdcqDOumqie1WaJMRuh9nKTkKCD_-w&oe=6867AA6A" class="d-block w-100" style="height: 600px; object-fit: cover; " alt="...">
            <div class="carousel-caption d-none d-md-block position-absolute top-50 start-50 translate-middle" style="background-color: rgba(0, 0, 0, 0.3); padding: 20px; border-radius: 5px; max-width: 80%;">
                <h3 class="fw-medium">Our Priority</h3>
                <h2 class="" style="color: #FB9E3A">Health & Safety</h2>
                <p style="text-align: justify;">Kesehatan dan Keselamatan adalah hal yang utama. Merupakan kewajiban kami untuk melindungi setiap orang yang terlibat dalam atau terdampak oleh operasi kami, dan kami sangat serius dalam menjalankan tanggung jawab ini.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://media.licdn.com/dms/image/v2/C5622AQG1-qGWwxksUg/feedshare-shrink_800/feedshare-shrink_800/0/1661166986163?e=2147483647&v=beta&t=800afShVAM4g2PPtWi00cVBwPxnWOMAk9NVmmGot06g" class="d-block w-100" style="height: 600px; object-fit: cover;" alt="...">

            <div class="carousel-caption d-none d-md-block position-absolute top-50 start-50 translate-middle" style="background-color: rgba(0, 0, 0, 0.3); padding: 20px; border-radius: 5px; max-width: 80%;">
                <h3 class="fw-medium">Our Priority</h3>
                <h2 class="text-bold" style="color: #FB9E3A;">Enviroment</h2>
                <p class="text-white" style="text-align: justify;">Kesehatan dan Keselamatan adalah hal yang utama. Merupakan kewajiban kami untuk melindungi setiap orang yang terlibat dalam atau terdampak oleh operasi kami, dan kami sangat serius dalam menjalankan tanggung jawab ini.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div>
</div>

<!--OUR DIVISI -->

<div class="container py-5">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="fw-bold">Divisi</h2>
            <p class="text-muted">Beberapa Divisi di LKS Batam</p>
        </div>
        @* <a href="#" class="text-primary fw-medium text-decoration-none"> *@
        @*     All Categories <span>&#8250;</span> *@
        @* </a> *@
    </div>

    <!-- Category Cards -->
    <div class="row g-4 justify-content-center">
        <!-- Card Item -->
        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center rounded-3 card-hover py-4 shadow-sm" style="background-color: #FB9E3A">
                <div class="bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                    <img src="~/aset/software.gif" alt="Business" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Instalation</h6>
            </div>
        </div>

        <!-- Ulangi untuk kategori lainnya -->
        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center rounded-3 card-hover py-4 shadow-sm" style="background-color: #FB9E3A">
                <div class="bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                    <img src="~/aset/civil-right.gif" alt="Construction" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Civil</h6>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center rounded-3 card-hover py-4 shadow-sm" style="background-color: floralwhite">
                <div class=" bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                    <img src="~/aset/mechanic.gif" alt="Customer Service" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Mechanical Estimator Engineer</h6>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center  rounded-3 card-hover py-4 shadow-sm" style="background-color: floralwhite">
                <div class=" bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px; background-color: ">
                    <img src="~/aset/no-electricity.gif" alt="Finance" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Electrical Estimator Engineer</h6>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center rounded-3 card-hover py-4 shadow-sm" style="background-color: #FB9E3A">
                <div class="bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                    <img src="~/aset/auger-excavator.gif" alt="Healthcare" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Procurement</h6>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2">
            <div class="text-center rounded-3 card-hover py-4 shadow-sm" style="background-color: #FB9E3A">
                <div class="bg-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                    <img src="~/aset/warehouse.gif" alt="Human Resources" style="width: 40px;" />
                </div>
                <h6 class="mt-3 mb-1 fw-semibold">Storeman</h6>
                @* <small class="text-muted">1 open position</small> *@
            </div>
        </div>
    </div>
</div>



























<!--About LKS Batam-->
<div class="container ">
    <div>
        <p class="fw-bold" style="color: #FB9E3A">Selamat Datang</p>
        <h4 class="fw-bolder">Lancang Kuning Sukses Batam</h4>
    </div>
    <div class="row align-items-center">
        <!-- Kolom teks -->
        <div class="col-md-6 mb-4 mb-md-0">
            <p style="text-align: justify;">
                Sebagai salah satu perusahaan yang bergerak di bidang Engineering, Procurement, and Construction (EPC) yang berbasis di Pulau Batam, Indonesia, kami berkomitmen untuk menjadi mitra bisnis yang paling tepercaya dan dapat diandalkan di industri ini, dengan menyediakan produk terbaik di kelasnya, keahlian yang luar biasa, dan semangat.<br><br>

                Lancang Kuning Sukses adalah perusahaan teknik dan kontraktor yang telah berdiri dan berpengalaman di berbagai industri dan sektor. Pengalaman kami yang luas telah memungkinkan kami untuk dapat mengelola proyek yang ada di tangan kami secara efektif. Kami juga telah mengembangkan beberapa proses manufaktur untuk produk kami sendiri dan terus meningkatkan keahlian para profesional kami untuk menangani berbagai proyek dan perbaikan.<br><br>

                Perusahaan LKS telah menghasilkan pertumbuhan laba yang berkelanjutan sambil membangun fondasi bisnis yang kokoh di tengah lingkungan operasi yang menantang. Misi kami adalah untuk memperluas lintasan ini ke masa depan dan mentransformasikan LKS Group menjadi Perusahaan EPCMI (Engineering, Procurement, Construction, Manufacturing & Instalation) Global yang terkemuka. Kami terus menghadapi tantangan baru dalam lingkungan bisnis kami dengan kecepatan dan skala perubahan yang belum pernah terjadi sebelumnya. Sebagai sebuah perusahaan, kami siap menghadapi tantangan terberat dan melihat peluang dalam kesulitan. Tidak diragukan lagi, kami sebagai mitra bisnis yang dapat diandalkan untuk klien kami mengadopsi visi proyek Anda sebagai visi kami dan bertanggung jawab untuk setiap langkah.
            </p>
        </div>
        <!-- Kolom gambar -->
        <div class="col-md-6 text-center">
            <img src="~/aset/reading-comics-animate.svg" class="img-fluid" alt="Gambar Perusahaan" />
        </div>
    </div>
</div>

<!--Visi Misi-->

<div class="container text-center my-5">
    <div class="row py-5 rounded" style="background-color: #FB9E3A; border: ">
        <!-- Kolom Visi & Misi -->
        <div class="col-md-6">
            <div class="d-flex justify-content-center gap-3 mb-4">
                <img src="~/aset/handshake.gif" class="rounded" style="height: 50px; width: 50px;" alt="Deal Icon" />
                <img src="~/aset/discussion.gif" class="rounded" style="height: 50px; width: 50px;" alt="Conversation Icon" />
                <img src="~/aset/diagram.gif" class="rounded" style="height: 50px; width: 50px;" alt="Money Icon" />
                
            </div>

            <h1 class="fw-bold text-white">Visi & Misi</h1>

            <p class="fw-light fst-italic mt-4 text-white ">Visi</p>
            <p class="px-3 text-start text-white">
                Menjadi rekan bisnis bagi industri, mitra yang paling tepercaya dan diandalkan, yang menyediakan produk terbaik di kelasnya, keahlian luar biasa, serta semangat terhadap kualitas dan kepuasan pelanggan.
            </p>

            <p class="fw-light fst-italic mt-4 text-white">Misi</p>
            <p class="px-3 text-start text-white">
                Berhasil melaksanakan berbagai proyek dengan mengutamakan keselamatan, kualitas yang baik, biaya yang kompetitif, dan pelayanan pengiriman tepat waktu.
            </p>
        </div>

        <!-- Kolom Tambahan / Ilustrasi -->
        <div class="col-md-6 border-start d-flex align-items-center justify-content-center">
            <!-- Contoh untuk file lokal -->
            <video controls class="img-fluid" style="height: 300px; width: 600px;">
                <source src="~/aset/vidio.mp4" type="video/mp4">
                Browser Anda tidak mendukung tag video.
            </video>
        </div>
    </div>
</div>






<!--MEMBER-->
<section class="py-5 bg-light">
    <div class="container" style="max-width: 1200px;">
        <h2 class="text-center fw-bold mb-5 text-black">Our <span class="" style="color:#FB9E3A">Team</span></h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 text-center">

            <!-- Member 1 -->
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div style="height: 380px; background-color: #FB9E3A;">
                        <img src="https://www.pt-lks.com/wp-content/uploads/2019/01/01.jpg"
                             alt="Iswendra"
                             style="height: 100%; width: 100%; object-fit: contain; object-position: top center;">
                    </div>
                    <div class="card-body" style="background-color: #FFF5EC">
                        <h5 class="card-title fw-bold mb-1">ISWENDRA</h5>
                        <p class="card-text small">President Director</p>
                    </div>
                </div>
            </div>

            <!-- Member 2 -->
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div style="height: 380px; background-color: #FFF5EC;">
                        <img src="https://www.pt-lks.com/wp-content/uploads/2019/01/Foto-Prastiwo-2.jpg"
                             alt="Prastiwo"
                             style="height: 100%; width: 100%; object-fit: contain; object-position: top center;">
                    </div>
                    <div class="card-body" style="background-color: #FB9E3A">
                        <h5 class="card-title fw-bold mb-1">PRASTIWO</h5>
                        <p class="card-text small">Project Director</p>
                    </div>
                </div>
            </div>

            <!-- Member 3 -->
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div style="height: 380px; background-color:#FB9E3A;">
                        <img src="https://www.pt-lks.com/wp-content/uploads/2019/01/04-1.jpg"
                             alt="Subandi"
                             style="height: 100%; width: 100%; object-fit: contain; object-position: top center;">
                    </div>
                    <div class="card-body" style="background-color: #FFF5EC">
                        <h5 class="card-title fw-bold mb-1">SUBANDI</h5>
                        <p class="card-text small">Business Development Manager</p>
                    </div>
                </div>
            </div>

            <!-- Member 4 -->
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div style="height: 380px; background-color: #FFF5EC;">
                        <img src="https://www.pt-lks.com/wp-content/uploads/2022/11/lisa-scaled.jpg"
                             alt="Alysha"
                             style="height: 100%; width: 100%; object-fit: contain; object-position: top center;">
                    </div>
                    <div class="card-body" style="background-color: #FB9E3A">
                        <h5 class="card-title fw-bold mb-1">ALYSHA</h5>
                        <p class="card-text small">Finance Corporate</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>