@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-white" style="background-color: #FFF5EC;">
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">About us</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Products</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Awards</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Help</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!" class="text-white">Contact</a>
                    </h6>
                </div>
            </div>
        </section>

        <hr class="my-5 text-black" />
W
        <!-- Section: Text -->
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p class="text-black" style="text-align: justify;">
                        Sebagai perusahaan yang bergerak di bidang EPC, kami berkomitmen untuk menjadi mitra bisnis dari industri yang paling terpercaya dan dapat diandalkan, dengan menyediakan produk kelas terbaik, keahlian kerja yang unggul, serta semangat untuk kualitas dan kepuasan pelanggan.
                    </p>
                </div>
            </div>
        </section>

        <!-- Section: Social -->
        <section class="text-center mb-5 flex justify-center gap-3">
            <img src="~/aset/facebook.png" alt="Facebook" />
            <img src="~/aset/whatsapp.png" alt="WhatsApp" />
            <img src="~/aset/whatsapp.png" alt="WhatsApp" />
        </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #FB9E3A">
        © 2025 Copyright:
        <a class="text-white">LKS Batam</a>
    </div>
</footer>
